{% extends 'html/base.html' %}
{% block content %}
  <h2>You're a few seconds away from {{ recharge_count }} more corgis.</h2>
  <h2>For the low price of $1.99, text us to your heart's content.</h2>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <form action="/charge" method="post">
    <input type="text" name="phone_number" value="{{ phone_number }}" hidden>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="{{ recharge_count }} more corgis for {{ phone_number }}"
            data-amount="199"
            data-locale="auto"></script>
    <script>
      $(document).load(function(e) {
        $(".stripe-button-el").click();
      });
      </script>
  </form>
{% endblock %}