body {
    margin-top: 3em;
    font: 24px Avenir;
    padding: 20px;
}

h1 {
    font-family: 'Sacramento';
    font-size: 96px;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
}

h1.corgibot {
    font: 64px Avenir;
    margin-bottom: 0;
    text-align: center;
}

h2.corgibot {
    font-family: 'Sacramento';
    font-size: 44;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    line-height: 10px;
    padding-bottom: 5px;
}


h2 {
    color: #665;
    font-weight: normal;
}

#number {
    color: #00cc00;
    font-size: 48px;
    text-shadow: #00aa00 1px 1px 0px;
    font-family: "Menlo";
    font-weight: bold;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

.footer {
    color: #aaa;
    font-size: 16px;
    border-top: 1px #aaa solid;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
}

.examples {
    width: 100%;
    float: left;
}
.examples img {
    min-width: 200px;
    width: 40%;
    float: left;
    margin: 5%;
    border: 1px #aaa solid;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.emphasize {
    background-color: #d1f3fa;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
}

.bombblurb {
    width: 40%;
    margin-right: 5%;
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
}
@media all and (max-width: 768px) {
  .bombblurb {
    width: 100%;
    margin-right: 0;
    margin-left: -0.5em;
  }
}

.bombblurb ol {
    list-style-type: none;
    padding-left: 0;
}
#bomb input,
#bomb select {
    padding: 1em;
    width: 100%;
    margin: 1em;
    font-size: 14px;
}
#bomb select {
    -webkit-appearance: none;
    display: inline-block;
}
#bomb select:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #000;
    color: white;
   }

@media all and (max-width: 660px) {
  footer.grater > div {
    margin-bottom: 0.5em; } }
div.iphone {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('/static/img/iphone.svg') no-repeat;
  background-size: 387px 804px;
  width: 387px;
  height: 804px;
  padding: 121px 0 0 36px; }
  div.iphone div, div.iphone img {
    background: #000;
    width: 320px;
    height: 568px;
    overflow: hidden; }
  @media all and (max-width: 990px) {
    div.iphone {
          margin-top: 1em;
          margin-left: calc(50% - 190px); } }

.bombblurb, .iphone {
    float: left;
}
.iphone .messages {
  width: 340px;
  height: 475px;
  box-sizing: border-box;
  background: url('/static/img/screen.png') no-repeat;
  background-size: 320px 564px;
  position: relative;
}
.iphone .messagewrapper {
  padding-top: 80px;
  padding-left: 20px;
  width: 300px;
  overflow-y: scroll;
  position: relative;
  background: #fff;
  height: 438px;
}
.iphone .messagewrapper > img {
    width: 60%;
    height: auto;
    margin-top: 5px;
}
.messagewrapper::-webkit-scrollbar { 
    display: none; 
}