body {
    margin-top: 3em;
    font: 24px Avenir;
    padding: 20px;
}

h1 {
    font-family: 'Sacramento';
    font-size: 96px;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    color: #665;
    font-weight: normal;
}

#number {
    color: #00cc00;
    font-size: 48px;
    text-shadow: #00aa00 1px 1px 0px;
    font-family: "Menlo";
    font-weight: bold;
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

.footer {
    color: #aaa;
    font-size: 16px;
    border-top: 1px #aaa solid;
    padding-top: 1em;
    padding-bottom: 1em;
}

.examples {
    width: 100%;
    float: left;
}
.examples img {
    min-width: 200px;
    width: 40%;
    float: left;
    margin: 5%;
    border: 1px #aaa solid;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.emphasize {
    background-color: #d1f3fa;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
}