<html>
<head>

    <title>corji: the Corgi Delivery Network</title>

    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bigfoot.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bigfoot.js') }}">></script>

</head>

<body>

    <div class="container">
        <h1>corji</h1>

        <h2>A distributed, resilient <a href="#fn:2" rel="footnote">2</a>, high-availability <a href="#fn:1" rel="footnote">1</a> CDN <a href="#fn:3" rel="footnote">3</a> using SMS as a transport layer.</h2>

        <h2 id="number">+16693420943</h2>

        <h3>How it works</h3>
        <p>Corji leverages a number of hither-to underutilized protocols and content discovery mechanisms <a href="#fn:4" rel="footnote">4</a> in order to seed our initial database <a href="#fn:6" rel="footnote">6</a>.</p>
        <p>The actual SMS heavy lifting is handled by <a href="http://twilio.com">Twilio</a>, with the TwiML being served Flask on EC2 hosts.</p>
        <p>Assets are served via S3 + CloudFront.</p>
        <p>No corgis were harmed in the process of the development of corgis. <a href="#fn:5" rel="footnote">5</a>

        <h3>Examples</h3>

        <h3>FAQ</h3>
        <h4>Why? Like, seriously... why?</h4>
        <p>What, do you have something against corgis or something?</p>

        <div class="footer">
            Made with love in rainy Seattle by Shep and Justin.  All of this is on <a href="http://github.com/jmduke/corji">GitHub</a>.
        </div>
    </div>

    <div class="footnotes">
        <ol>
            <li class="footnote" id="fn:2">
                Disclaimer: <strong>corji</strong> is probably not resilient.<a href="#fnref:2" title="return to article"> ↩</a>
            </li>
            <li class="footnote" id="fn:1">
                Disclaimer: <strong>corji</strong> is probably not high-availability.<a href="#fnref:1" title="return to article"> ↩</a>
            </li>
            <li class="footnote" id="fn:3">
                <strong>CDN</strong>: Corgi Delivery Network
            </li>
            <li class="footnote" id="fn:4">
                We literally just searched for various corgis for days on end.  There are <em>so</em> many corgis on the internet.
            </li>
            <li class="footnote" id="fn:5">
                However, many corgis were rewarded for their work and inspiration.  They got cookies and belly rubs because they are such a good boy, yes they are, yes they are!
            </li>
            <li class="footnote" id="fn:6">
                And by "database", we mean a Google Doc.
            </li>
        </ol>
    </div>

    <script type="text/javascript">
        $.bigfoot();
    </script>

</body>
</html>