<html>
<head>

    <title>corji: the Corgi Delivery Network</title>

    <meta name="description" content="Send us an emoji.  We'll send you a corgi.  It's that simple." />
    <meta name="keywords" content="corgi,sms,emoji,lol,corji,corgis" />
    <meta name="author" content="Justin Duke" />            
    <meta property="og:title" content="Justin Duke" />
    <meta property="og:url" content="http://corji.club" />  
    <meta name="og:description" content="Send us an emoji.  We'll send you a corgi.  It's that simple." />            
    <meta name="twitter:card" content="Send us an emoji.  We'll send you a corgi.  It's that simple." />
    <meta name="twitter:title" content="Justin Duke" />
    <meta name="twitter:description" content="Send us an emoji.  We'll send you a corgi.  It's that simple." />  
    <meta name="twitter:creator" content="@justinmduke">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bigfoot.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">

    {% include "html/snippets/google_analytics.html" %}

</head>

<body>

    <div class="container">
        {% block header %}
        <h1>corji</h1>
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        <div class="footer">
            Made with love in rainy Seattle by Shep and Justin.  All of this is on <a href="http://github.com/jmduke/corji">GitHub</a>.
            {% include "html/snippets/social.html" %}
        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bigfoot.js') }}">></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>